#!ipxe

# OPTIONAL: HTTP server used for menu files and other things
set http-server bang
set http-root /

# OPTIONAL: Base URL used to resolve most other resources
# Should always end with a slash
set menu-url http://${http-server}${http-root}

# OPTIONAL: Relative directory to menu.ipxe used to
# override boot script for specific clients
set menu-dir ipxe/

# REQUIRED: Absolute URL to the menu script, used by menu.ipxe
# and commonly used at the end of simple override scripts
# in ${menu-dir}.
set boot-url ${menu-url}boot.ipxe

set install-dir install/
set install-url ${menu-url}${install-dir}

# OPTIONAL: iSCSI server location and iSCSI IQNs
# Must be specified as an IP, some clients have issues with name resolution
# Initiator IQN is also calculated to use hostname, if present
set iscsi-server ${http-server}
set base-iqn iqn.2020-05.lab.sesame
set base-iscsi iscsi:${iscsi-server}::::${base-iqn}
isset ${hostname} && set initiator-iqn ${base-iqn}:${hostname} || set initiator-iqn ${base-iqn}:${mac}

# Serial Shorthand
set serial nomodeset noquiet splash=off console=tty0
set ttys0s ttyS0,57600n8
set ttys1s ttyS1,57600n8
set ttys0f ttyS0,115200n8
set ttys1f ttyS1,115200n8

# OPTIONAL: URL to report memtest results to
set memtest-report-url http://${http-server}/memtest/report.cgi
